.outterDivCreate {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.innerDivCreate {
  background-color: rgba(177, 41, 41, 0.19);
  margin: 0 20%;
  width: 60%;
  border-radius: 2%;
}

.inputContainer {
  display: flex;
  justify-content: flex-start;
  margin: 1%;
}

.innerDivContainer {
  gap: 5%;
  display: flex;
}

.typesContainer {
  display: flex;
  margin: 3% 0;
}

.selectTypes {
  justify-self: flex-start;
  margin: 0 15%;
  cursor: pointer;
}

.divEachType {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.inputsName {
  min-width: 50px;
  max-width: 50px;
  font-weight: 550;
}

.error {
  margin: 0 2%;
  width: 50%;
  color: #a10000;
  font-weight: 400;
}

.inputs {
  width: 310px;
  border: none;
  border-radius: 6px;
}

.secondErrorType {
  width: 100%;
}

.selectTypes {
  align-self: center;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0);
  font-weight: 550;
}

.divBottomButtons {
  display: flex;
  gap: 35%;
  justify-content: center;
}

.buttonCreate {
  width: 30%;
  cursor: pointer;
  background-color: #999933;
  color: rgb(241, 241, 241);
  border: none;
  border-radius: 5px;
}

.buttonCreateDisabled {
  width: 30%;
  background-color: #5f5f2f;
  color: rgb(145, 142, 142);
  border: none;
  border-radius: 5px;
}

.goBackCreate {
  text-decoration: none;
  width: 30%;
  cursor: pointer;
  background-color: rgb(216, 64, 64);
  color: rgb(241, 241, 241);
  border-radius: 5px;
}

.imageWarning {
  margin: 0 10%;
  color: #e3e300;
  font-weight: 400;
  text-decoration: underline;
}

.pTypeError {
  width: 100%;
}

.tituloCreatePokemon {
  font-family: AlleynW01-Regular;
}
