.outerDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.innerDiv {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pokediv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 90px;
}

.detailName {
  margin: 22px;
  display: flex;
  justify-content: center;
  font-family: AlleynW01-Regular;
}

.linkHome {
  text-decoration: underline;
  display: flex;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 100px;
  width: 55px;
  color: black;
  cursor: pointer;
  font-family: AlleynW01-Regular;
  transition: color 0.5s;
}
.linkHome:hover {
  color: rgb(255, 255, 255);
}

.delete {
  position: absolute;
  bottom: 30px;
  right: 185px;
}

.deleteButton {
  text-decoration: none;
  width: 120%;
  cursor: pointer;
  background-color: rgb(216, 64, 64);
  color: rgb(241, 241, 241);
  border-radius: 5px;
  transition: 0.5s;
}

.deleteButton:hover{
  background-color: rgb(133 0 0);
  color: rgb(255 255 255);
  transform: scale(1.1);
}

.pokeImage {

  max-width: 385px;
}

.detailTable {
  width: 100%;
  /* font-weight: 500; */
  font-family: AlleynW01-Regular;
}

.firstValues{
  font-weight: 600;
}

.divPerspective {
  perspective: 400px;
}

.detailInfoLeft {
  background-color: #0000002b;
  display: flex;
  padding: 20px;
  border-radius: 10px;
  height: 190px;
  width: 230px;
  transition: 0.3s;
  transform: rotateY(20deg);
}

.detailInfoLeft:hover {
  transform: rotateY(0deg);
}

.detailInfoRight {
  background-color: #0000002b;
  display: flex;
  padding: 20px;
  border-radius: 10px;
  height: 190px;
  width: 230px;
  transition: 0.3s;
  transform: rotateY(340deg);
}

.detailInfoRight:hover {
  transform: rotateY(360deg);
}

.confirmationBox{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .8);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: AlleynW01-Regular;
}

.confirmButton{
  font-size: 1.5rem;
  margin: 15px;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  font-family: AlleynW01-Regular;
}

.denied:hover{
  background-color: red;
  transition: .5s;
}

.confirmed:hover{
  background-color: green;
  transition: .5s;
}

.successContainer{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .8);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: AlleynW01-Regular;
}


/* ------------------------- MEDIA QUERIES ------------------------- */

/* ------------------------- 1366 X 768 FS ------------------------- */
@media (max-height: 768px) {
  .innerDiv {
    margin-top: 85px;
  }
}

/* ------------------------- 1366 X 768 NFS ------------------------- */
@media (max-height: 617px) {
  .innerDiv {
    margin-top: 0px;
  }
}
