.loadingTitle {
  margin: 0px;
  padding: 5px;
  font-family: AlleynW01-Regular;
}

.squirtle {
  position: absolute;
  height: 60%;
  border-radius: 90px;
  top: 34%;
  left: 38%;
}

/* ------------------------- 1366 X 768 FS ------------------------- */
@media (max-height: 768px) {
  .squirtle {
    border-radius: 110px;
    left: 34%;
  }
}

/* ------------------------- 1366 X 768 NFS ------------------------- */
@media (max-height: 617px) {
  .squirtle {
    border-radius: 90px;
    left: 38%;
  }
}

/* ------------------------- 390 X 844 Iphone 12 Pro ------------------------- */
@media (max-width: 390px) {
  .squirtle {
    height: 39%;
    border-radius: 90px;
    top: 41%;
    left: 10%;
  }
}